@model WebStore.Web.ViewModels.ShoppingCartItems.ShoppingCartIndexViewModel
@{
    this.ViewData["Title"] = "Your Cart";
}

<!-- Page Preloader -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>@this.ViewData["Title"]</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
            <a asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
        </div>
    </div>
</div>
<!-- Page info end -->

<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="cart-table">
                    <h3>Your Cart</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-th">Product</th>
                                    <th class="quy-th">Quantity</th>
                                    <th class="size-th">SizeSize</th>
                                    <th class="total-th">Price</th>
                                    <th class="total-th">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ShoppingCartItems)
                                {
                                    <tr>
                                        <td class="product-col">
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductItemProductId">
                                                <img src="@item.MainImages.ImageUrl" alt="">
                                            </a>
                                            <div class="pc-title">
                                                <h4>@item.ProductItemProductName</h4>
                                                <p>$@item.ProductItemProductPrice</p>
                                            </div>
                                        </td>
                                        <td>
                                            <a class="text-danger pr-2" asp-controller="ShoppingCartItems" asp-action="Update" asp-route-productItemId="@item.ProductItemId" asp-route-quantity="@(item.Quantity - 1)"><i class="fa fa-minus-circle"></i> </a>
                                            @item.Quantity
                                            <a class="text-danger pl-2" asp-controller="ShoppingCartItems" asp-action="Update" asp-route-productItemId="@item.ProductItemId" asp-route-quantity="@(item.Quantity + 1)"><i class="fa fa-plus-circle"></i></a>

                                        </td>
                                        <td class="size-col"><h4>Size @item.ProductItemSize</h4></td>
                                        <td class="total-col"><h4>$@(item.Quantity * item.ProductItemProductPrice)</h4></td>
                                        <td>
                                            <form asp-controller="ShoppingCartItems" asp-action="Delete" method="post">
                                                <input type="hidden" name="productItemId" value="@item.ProductItemId" />
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="total-cost">
                        <h6>Total <span>$@Model.TotalPrice</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 card-right">
                <a asp-area="" asp-controller="Orders" asp-action="Create" class="site-btn">Proceed to checkout</a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="site-btn sb-dark">Continue shopping</a>
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->
<!-- letest product section -->

<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>LATEST PRODUCTS</h2>
        </div>
        <div class="product-slider owl-carousel">
            @foreach (var product in Model.LatestProducts)
            {
                <div class="product-item">
                    <div class="pi-pic">
                        <img src="@product.MainImages.ImageUrl" alt="">
                        <div class="pi-links">
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                        </div>
                    </div>
                    <div class="pi-text">
                        <h6>@product.Price</h6>
                        <p>@product.Name</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- letest product section end -->