@using WebStore.Data.Models.Enums
@using WebStore.Common

@model WebStore.Web.ViewModels.Orders.CreateOrderViewModel
@{
    this.ViewData["Title"] = "My Order";
}

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Your cart</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
            <a asp-area="" asp-controller="ShoppingCartItems" asp-action="Index">Your cart</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form asp-controller="Orders" asp-action="create" method="post" class="checkout-form">
                    <div class="cf-title">Delievery Info</div>
                    <div class="row">
                        @*<div class="col-md-7">
                                    <p>*Billing Information</p>
                                </div>
                                <div class="col-md-5">
                                    <div class="cf-radio-btns address-rb">
                                        <div class="cfr-item">
                                            <input type="radio" name="pm" id="one">
                                            <label for="one">Use my regular address</label>
                                        </div>
                                        <div class="cfr-item">
                                            <input type="radio" name="pm" id="two">
                                            <label for="two">Use a different address</label>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row address-inputs">
                            <div class="col-md-12">
                                <label type="text" asp-for="@Model.InputModel.RecipientName"></label>
                                <input asp-for="@Model.InputModel.RecipientName" placeholder="@Model.InputModel.RecipientName">
                                <span asp-validation-for="@Model.InputModel.RecipientName" class="text-danger"></span>

                                <label type="text" asp-for="@Model.InputModel.RecipientPhoneNumber"></label>
                                <input asp-for="@Model.InputModel.RecipientPhoneNumber" placeholder="@Model.InputModel.RecipientPhoneNumber">
                                <span asp-validation-for="@Model.InputModel.RecipientPhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="cf-title">Shipping Info</div>
                            <div class="row shipping-btns">
                                <div class="col-6">
                                    <h4>Standard</h4>
                                </div>
                                <div class="col-6">
                                    <div class="cf-radio-btns">
                                        <div class="cfr-item">
                                            <input type="radio" asp-for="@Model.InputModel.RecipientPhoneNumber" value="@ShippingType.Regular" id="ship-1">
                                            <label for="ship-1">Free</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h4>Next day delievery  </h4>
                                </div>
                                <div class="col-6">
                                    <div class="cf-radio-btns">
                                        <div class="cfr-item">
                                            <input type="radio" asp-for="@Model.InputModel.RecipientPhoneNumber" value="@ShippingType.Regular" id="ship-2">
                                            <label for="ship-2">$@GlobalConstants.ShippingPriceForFastShippingType</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cf-title">Payment</div>
                            <ul class="payment-list">
                                <li>Pay when you get the package</li>
                            </ul>
                            <button type="submit" class="site-btn submit-order-btn">Place Order</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
                    <ul class="product-list">
                        @foreach (var item in @Model.MiniShoppingCart.ShoppingCartItems)
                        {
                            <li>
                                <div class="pl-thumb"><img src="@item.MainImages.ImageUrl" alt=""></div>
                                <h6>@item.ProductItemProductName</h6>
                                <p>$@item.TotalProductOrderPrice</p>
                            </li>
                        }
                    </ul>
                    <ul class="price-list">
                        <li class="total">Total<span>$@Model.MiniShoppingCart.TotalPrice.ToString("F2")</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout section end -->