@using WebStore.Data.Models.Enums
@using WebStore.Common

@model WebStore.Web.ViewModels.Orders.CreateOrderViewModel

@{
    this.ViewData["Title"] = "Order Details";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Order Details</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
            <a asp-area="" asp-controller="ShoppingCartItems" asp-action="Index">Your cart</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form asp-controller="Orders" asp-action="create" method="post" class="checkout-form">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @if (Model.MyAddresses != null)
                    {
                        <div class="cf-title">Choose from my Addresses</div>
                        <div class="row address-inputs">
                            <div class="col-12">
                                <div class="list-group list-group-flush">
                                    <a class="list-group-item list-group-item-action" asp-controller="Orders" asp-action="Create">Add New Address</a>
                                    @foreach (var address in Model.MyAddresses)
                                    {
                                        if (Model.InputModel.AddressId == address.Id)
                                        {
                                            <a class="list-group-item list-group-item-action list-group-item-dark" asp-controller="Orders" asp-action="Create" asp-route-AddressId="@address.Id">@address.AddressString</a>
                                        }
                                        else
                                        {
                                            <a class="list-group-item list-group-item-action" asp-controller="Orders" asp-action="Create" asp-route-AddressId="@address.Id">@address.AddressString</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="cf-title">Delievery Address</div>
                    <div class="row address-inputs">
                        @if (Model.InputModel.AddressId != null)
                        {
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.District" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.District"></label>
                                <input asp-for="@Model.InputModel.District" placeholder="@Model.InputModel.District">
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.City" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.City"></label>
                                <input asp-for="@Model.InputModel.City" placeholder="@Model.InputModel.City">
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.Street" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.Street"></label>
                                <input asp-for="@Model.InputModel.Street" placeholder="@Model.InputModel.Street">
                            </div>
                        }
                        else
                        {
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.District" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.District"></label>
                                <input asp-for="@Model.InputModel.District" value="@Model.InputModel.District" disabled="disabled">
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.City" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.City"></label>
                                <input asp-for="@Model.InputModel.City" value="@Model.InputModel.City" disabled="disabled">
                            </div>
                            <div class="col-md-12">
                                <span asp-validation-for="@Model.InputModel.Street" class="text-danger"></span>
                                <label type="text" asp-for="@Model.InputModel.Street"></label>
                                <input asp-for="@Model.InputModel.Street" value="@Model.InputModel.Street"disabled="disabled">
                            </div>
                        }
                    </div>
                    <div class="cf-title">Delievery Info</div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <span asp-validation-for="@Model.InputModel.RecipientName" class="text-danger"></span>
                            <label type="text" asp-for="@Model.InputModel.RecipientName"></label>
                            <input asp-for="@Model.InputModel.RecipientName" placeholder="@Model.InputModel.RecipientName">
                        </div>
                        <div class="col-md-6">
                            <span asp-validation-for="@Model.InputModel.RecipientPhoneNumber" class="text-danger"></span>
                            <label asp-for="@Model.InputModel.RecipientPhoneNumber"></label>
                            @if (Model.InputModel.RecipientPhoneNumber == null)
                            {
                                <input type="text" asp-for="@Model.InputModel.RecipientPhoneNumber" placeholder="08xxxxxxxx">
                            }
                            else
                            {
                                <input type="text" asp-for="@Model.InputModel.RecipientPhoneNumber" placeholder="@Model.InputModel.RecipientPhoneNumber">
                            }
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="cf-title">Shipping Info</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <h4>Standard 7 days delivery</h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <span asp-validation-for="@Model.InputModel.ShippingType" class="text-danger"></span>
                                <div class="cfr-item">
                                    <input type="radio" asp-for="@Model.InputModel.ShippingType" value="1" id="ship-1">
                                    <label for="ship-1">Free</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h4>Next day delievery  </h4>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" asp-for="@Model.InputModel.ShippingType" value="2" id="ship-2">
                                    <label for="ship-2">$@GlobalConstants.ShippingPriceForFastShippingType.ToString()</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Payment</div>
                    <ul class="payment-list">
                        <li>Pay when you get the package</li>
                    </ul>
                    <input type="hidden" asp-for="@Model.MiniShoppingCart" value="@Model.MiniShoppingCart">@*TODO POST*@
                    <button type="submit" class="site-btn submit-order-btn">Place Order</button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Your Cart</h3>
                    <ul class="product-list">
                        @foreach (var product in @Model.MiniShoppingCart.ShoppingCartItems)
                        {
                            <li>
                                <div class="pl-thumb">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductItemProductId">
                                        <img src="@product.MainImages.ImageUrl" alt="">
                                    </a>
                                </div>
                                <h6>@product.ProductItemProductName</h6>
                                <p>Quantity: @product.Quantity</p>
                                <p>Product Price: @product.ProductItemProductPrice</p>
                                <p class="text-danger">Total Price for Product: @product.TotalProductPrice</p>
                            </li>
                        }
                    </ul>
                    <ul class="price-list">
                        <li class="total text-danger">Total : $@Model.MiniShoppingCart.TotalPrice</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- checkout section end -->