@using WebStore.Common
@using WebStore.Data.Models.Enums


@model WebStore.Web.ViewModels.Orders.MyOrderDetailsViewModel
@{
    this.ViewData["Title"] = "Confirm Order";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Recipien tName</b> : @Model.RecipientName </li>
                <li class="list-group-item"><b>Recipient Phone Number</b> : @Model.RecipientPhoneNumber </li>
                <li class="list-group-item"><b>District</b> : @Model.AddressDistrict </li>
                <li class="list-group-item"><b>City</b> : @Model.AddressCity </li>
                <li class="list-group-item"><b>Street</b> : @Model.AddressStreet </li>
                <li class="list-group-item"><b>Expected Delivery Date</b> : <time datetime="@Model.ExpectedDeliveryDate?.ToString("O")"></time> </li>
                <li class="list-group-item"><b>Shipping Type</b> : @Model.ShippingType </li>
                @if (Model.ShippingType == ShippingType.Fast.ToString())
                {
                    <li class="list-group-item"><b>Shipping Price</b> : $@GlobalConstants.ShippingPriceForFastShippingType </li>
                }
                else
                {
                    <li class="list-group-item"><b>Shipping Price</b> : $@GlobalConstants.ShippingPriceForRegularShippingType </li>

                }
                <li class="list-group-item"><b>Order Status</b> : @Model.Status </li>
                <li class="list-group-item"><b>TotalPrice</b> : <b class="text-danger">@Model.TotalPrice</b></li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="checkout-cart">
                <h3>Ordered Products</h3>
                <ul class="product-list">
                    @foreach (var product in @Model.OrderProductItems)
                    {
                        <li>
                            <div class="pl-thumb"><img src="@product.MainImages.ImageUrl" alt=""></div>
                            <h6>@product.ProductItemProductName</h6>
                            <p>Quantity: @product.Quantity</p>
                            <p>Product Price: @product.ProductItemProductPrice</p>
                            <p class="text-danger">Total Price for Product: @product.OrderedProductTotalPrice</p>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>


