@model WebStore.Web.ViewModels.Products.ProductsIndexViewModel

@{
    this.ViewData["Title"] = "Products";
}


<div class="page-top-info">
    <div class="container">
        <h4>Products PAge</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
            <a asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
        </div>
    </div>
</div>

<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="filter-widget">
                    <h2 class="fw-title">Categories</h2>
                    <ul class="category-menu">
                        <vc:nav-bar></vc:nav-bar>
                    </ul>
                </div>
                <div class="filter-widget">
                    <h2 class="fw-title">Color</h2>
                    <ul class="category-menu">
                        @foreach (var color in Model.Colors)
                        {
                            <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-Color="@color">@color</a></li>
                        }
                    </ul>
                </div>
                <div class="filter-widget mb-0">
                    <h2 class="fw-title">Size</h2>
                    <div class="fw-size-choose">
                        @foreach (var size in Model.Sizes)
                        {
                            if (size == "S")
                            {
                                <div class="sc-item">
                                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-Size="@size" type="radio" name="sc" id="@size-size" checked="">
                                        <label for="@size-size">@size</label>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="sc-item">
                                    <a asp-area="" asp-controller="Products" asp-action="Index" asp-route-Size="@size" type="radio" name="sc" id="@size-size">
                                        <label for="@size-size">@size</label>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="filter-widget">
                    <h2 class="fw-title">Brand</h2>
                    <ul class="category-menu">
                        @foreach (var brand in Model.Brands)
                        {
                            <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-BrandName="@brand">@brand</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row">
                    @foreach (var product in Model.Products)
                    {
                        <div class="col-lg-4 col-sm-6">
                            <div class="product-item">
                                <div class="pi-pic">
                                    <img src="@product.MainImages.ImageUrl" alt="">
                                    <div class="pi-links">
                                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                        <a asp-controller="Favorites" asp-action="Add" asp-route-productId="@product.Id" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                    </div>
                                </div>
                                <div class="pi-text">
                                    <h6>@product.Price</h6>
                                    <p>@product.Name </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->
