@using WebStore.Web.ViewModels.Favorites
@model FavoritesIndexViewModel
@{
    this.ViewData["Title"] = "Favorite Products ";
}

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Page info -->
<div class="page-top-info">
    <div class="container">
        <h4>Favorite Products Page</h4>
        <div class="site-pagination">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> /
            <a asp-area="" asp-controller="Products" asp-action="Index">Shop</a>
        </div>
    </div>
</div>
<!-- Page info end -->

<br />
<!-- Product filter section -->
<section class="product-filter-section">
    <div class="container">
        <div class="section-title">
            <h2>My Favorite Products</h2>
        </div>

        <div class="row">
            @foreach (var product in Model.FavoriteProducts)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="product-item">
                        <div class="pi-pic">
                            <img src="@product.MainImages.ImageUrl" alt="">
                            <div class="pi-links">
                                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                            </div>
                        </div>
                        <div class="pi-text">
                            <h6>@product.ProductPrice</h6>
                            <p>@product.ProductName</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Product filter section end -->
<!-- Pagenation -->
<nav>
    <ul class="pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Favorites"
                   asp-action="MyProducts"
                   asp-route-page="@(this.Model.CurrentPage - 1)">Previous</a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? "active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link"
                   asp-controller="Favorites"
                   asp-action="MyProducts"
                   asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link"
                   asp-controller="Favorites"
                   asp-action="MyProducts"
                   asp-route-page="@(this.Model.CurrentPage + 1)">Next</a>
            </li>
        }
    </ul>
</nav>

<!-- Pagenation  End-->